<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="SS_ModuleFolder">
    
      <Component Id="C_REG_SSMS2010" Guid="ef2b93ea-1e0b-4ce6-9d73-90b17baa50fa">
        <Condition><![CDATA[INSTALL_SSMS2010<>""]]></Condition>
        <RegistryValue Id="SSMS2010RegistryValue"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="ProductName"
                       Value="[ProductName]"
                       Type="string"/>
        <RegistryValue Id="SSMS2010RegistryValue1"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="CommandLineSafe"
                       Value="0"
                       Type="integer"/>
        <RegistryValue Id="SSMS2010RegistryValue2"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="ProductDescription"
                       Value="[ProductDescription]"
                       Type="string"/>
        <RegistryValue Id="SSMS2010RegistryValue3"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="LoadBehavior"
                       Value="1"
                       Type="integer"/>
        <RegistryValue Id="SSMS2010RegistryValue"
                       KeyPath="yes"
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="SatelliteDllName"
                       Value="CodeOwls.StudioShell.dll"
                       Type="string"/>
        <RegistryValue Id="SSMS2010RegistryValue"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="SatelliteDllPath"
                       Value="[PersonalFolder]\WindowsPowerShell\Modules\StudioShell\Bin"
                       Type="string"/>

      </Component>
      <Component Id="C_REG_SSMS2008" Guid="f4c44e27-f691-4c2c-8eb6-df87861c0d72">
        <Condition><![CDATA[INSTALL_SSMS2008<>""]]></Condition>
        <RegistryValue Id="SSMS2008RegistryValue"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="ProductName"
                       Value="[ProductName]"
                       Type="string"/>
        <RegistryValue Id="SSMS2008RegistryValue1"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="CommandLineSafe"
                       Value="0"
                       Type="integer"/>
        <RegistryValue Id="SSMS2008RegistryValue2"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="ProductDescription"
                       Value="[ProductDescription]"
                       Type="string"/>
        <RegistryValue Id="SSMS2008RegistryValue3"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="LoadBehavior"
                       Value="1"
                       Type="integer"/>
        <RegistryValue Id="SSMS2008RegistryValue"
                       KeyPath="yes"
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="SatelliteDllName"
                       Value="CodeOwls.StudioShell.dll"
                       Type="string"/>
        <RegistryValue Id="SSMS2008RegistryValue"
                       
                       Action="write"
                       Root="HKCU"
                       Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\Tools\Shell\AddIns\CodeOwls.StudioShell.Connect"
                       Name="SatelliteDllPath"
                       Value="[PersonalFolder]\WindowsPowerShell\Modules\StudioShell\Bin"
                       Type="string"/>

      </Component>
      
    </DirectoryRef>
  </Fragment>
</Wix>