<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Property Id="IntegrateOptionsDlg_NextArgs" Value="ConfirmInstallForm" />
    <Property Id="IntegrateOptionsDlg_PrevArgs" Value="EulaForm" />
    <Property Id="EulaForm_NextArgs" Value="IntegrateOptionsDlg" />
    <Property Id="ConfirmInstallForm_PrevArgs" Value="IntegrateOptionsDlg" />

    <UI Id="IntegrateOptions_UI">
      <Dialog Id="IntegrateOptionsDlg" X="50" Y="50" Width="373" Height="287" Title="[ProductName]">

        <Control Id="BannerBmp" Type="Bitmap" X="0" Y="0" Width="375" Height="52" Text="StudioShellBannerBitmap" TabSkip="no" Disabled="yes" />
        <Control Id="Line1" Type="Line" X="0" Y="52" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="Line2" Type="Line" X="0" Y="252" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\VSI_MS_Sans_Serif16.0_1_0}StudioShell Integration Options" TabSkip="yes" Transparent="yes" NoPrefix="yes" />

        <Control Id="CancelButton" Type="PushButton" X="156" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel" />
        </Control>
        <Control Id="PreviousButton" Type="PushButton" X="228" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&lt; &amp;Back" TabSkip="no">
          <Condition Action="disable">IntegrateOptionsDlg_PrevArgs=""</Condition>
          <Condition Action="enable">IntegrateOptionsDlg_PrevArgs&lt;&gt;""</Condition>
          <Publish Event="NewDialog" Value="[IntegrateOptionsDlg_PrevArgs]">IntegrateOptionsDlg_PrevArgs&lt;&gt;""</Publish>
        </Control>
        <Control Id="NextButton" Type="PushButton" X="300" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Next &gt;" TabSkip="no" Default="yes">
          <Condition Action="disable">INSTALL_VS2010="" AND INSTALL_VS2008="" AND INSTALL_SSMS2010="" AND INSTALL_SSMS2008=""</Condition>
          <Condition Action="enable">INSTALL_VS2010&lt;&gt;"" OR INSTALL_VS2008&lt;&gt;"" OR INSTALL_SSMS2010&lt;&gt;"" OR INSTALL_SSMS2008&lt;&gt;""</Condition>
          <Publish Event="EndDialog" Value="Return">IntegrateOptionsDlg_NextArgs=""</Publish>
          <Publish Event="NewDialog" Value="[IntegrateOptionsDlg_NextArgs]">IntegrateOptionsDlg_NextArgs&lt;&gt;""</Publish>                  
        </Control>

        <Control Id="DirectionsText" Type="Text" X="25" Y="65" Width="306" Height="40" Text="Please select the products in which you wish to enable StudioShell." TabSkip="yes" Transparent="yes" NoPrefix="yes" />

        <Control Id="CkInstallVS2010" Type="CheckBox" Property="INSTALL_VS2010" CheckBoxValue="install" Text="Visual Studio 2010" X="50" Y="100" Height="10" Width="250">
          <Condition Action="disable">VS2010_AVAILABLE=""</Condition>
          <Condition Action="enable">VS2010_AVAILABLE&lt;&gt;""</Condition>
        </Control>
        <Control Id="CkInstallVS2008" Type="CheckBox" Property="INSTALL_VS2008" CheckBoxValue="install" Text="Visual Studio 2008" X="50" Y="130" Height="10" Width="250">
          <Condition Action="disable">VS2008_AVAILABLE=""</Condition>
          <Condition Action="enable">VS2008_AVAILABLE&lt;&gt;""</Condition>
        </Control>
        <Control Id="CkInstallSSMS2010" Type="CheckBox" Property="INSTALL_SSMS2010" CheckBoxValue="install" Text="SQL Management Studio 2010" X="50" Y="160" Height="10" Width="250">
          <Condition Action="disable">SSMS2010_AVAILABLE=""</Condition>
          <Condition Action="enable">SSMS2010_AVAILABLE&lt;&gt;""</Condition>
        </Control>
        <Control Id="CkInstallSSMS2008" Type="CheckBox" Property="INSTALL_SSMS2008" CheckBoxValue="install" Text="SQL Management Studio 2008" X="50" Y="190" Height="10" Width="250">
          <Condition Action="disable">SSMS2008_AVAILABLE=""</Condition>
          <Condition Action="enable">SSMS2008_AVAILABLE&lt;&gt;""</Condition>
        </Control>
      </Dialog>
      
    </UI>
	</Fragment>
</Wix>